Source: python-pyjolokia
Section: net
Priority: optional
Maintainer: Vladimir Lazarenko <vllazarenko@ebay.com>
Build-Depends: debhelper (>= 7.0.15~)
Build-Depends-Indep: python-support, python-setuptools
Standards-Version: 3.9.1
Homepage: https://github.com/cwood/pyjolokia

Package: python-pyjolokia
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pkg-resources
Description: Python Jolokia library
    This is a pure pyhon jolokia client. I moduled its usage after the javascript version. Currently this will only support the protocol version 6. Also this was tested with python 2.7. Not sure if it is Python3, or older than python 2.4.
    Check the jolokia users guide for more information on how jolokia works. All options are available on pyjolokia as joloka supports.
    Check -> http://www.jolokia.org/reference/html/index.html for more information.
